.widget-db-text,
.widget-db-textarea,
.widget-db-checkbox {
    position: absolute !important;
    left: -9999px !important;
    width: 1px !important;
    height: 1px !important;
    opacity: 0 !important;
    visibility: hidden !important;
    pointer-events: none !important;
    overflow: hidden !important;

    clip: rect(0, 0, 0, 0) !important;
    clip-path: inset(50%) !important;
    white-space: nowrap !important;
    border: 0 !important;
    padding: 0 !important;
    margin: -1px !important;
}

.widget-db-text input,
.widget-db-textarea textarea,
.widget-db-checkbox input {
    position: absolute !important;
    left: -9999px !important;
    visibility: hidden !important;
    opacity: 0 !important;
    width: 1px !important;
    height: 1px !important;
}

.widget-db-text label,
.widget-db-textarea label,
.widget-db-checkbox label,
.widget-db-checkbox legend {
    position: absolute !important;
    left: -9999px !important;
    width: 1px !important;
    height: 1px !important;
    overflow: hidden !important;
}